.header {
  padding-top: 35px;
  background-color: #1B2944;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__socials {
  margin: 0;
}

.header__socials-item:last-of-type {
  margin-right: 0;
}

@media (max-width: 425px) {
  .header {
    padding-top: 30px;
  }
}

